@@master_page.html
<link href="css/page_interface.css" rel="stylesheet" />
<div id="apibox">
    <div class="form-group row">
        <div class="row show-grid">
            <div class="col-md-2"> </div>
            <div class="col-md-6">
                <input class="form-control" type="text" id="txtSearch" name="example-text-input" placeholder="Url or name">
            </div>
            <div class="col-md-4"> <button @click="onSearch()" id="btnSearch" class="btn btn-success" type="submit">搜索</button></div>
        </div>
    </div>
    <div class="data" v-for="masterItem in data" :key="masterItem.Key">
        <h2>{{ masterItem.Key }} </h2>
        <section v-for="item in masterItem.Value" :key="item.Id">
            <div class="endpoint">
                <p class="p" @click="toggleEndpoint">
                    <span class="method">{{ item.HttpMethod }}</span>
                    <span class="url"> {{item.Url}}   {{item.Name}}</span>
                    <span class="openapi">+</span>
                </p>
                <p>{{ item.Description }}</p>
                <div class="parameter-title" style="display:none">
                    Parameters:
                    <div class="try-out">
                        <button class="btn try-out__btn" @click="tryItOut(item)">Try it out </button>
                    </div>
                </div>
                <div class="parameter" style="display:none" v-if="item.DataModel.WhereParameters && item.DataModel.WhereParameters.length > 0">
                    <ul>
                        <li v-for="param in item.DataModel.WhereParameters" :key="param.Name">
                            <code>{{ param.ValueIsReadOnly ?   'Readonly:':''}}{{ param.Name }}</code> ({{ param.ValueType }}) - {{param.Type}} {{ param.Description }}  {{ param.Value  ?  ' ['+param.Name +' = ' + param.Value+']' : ''}}
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>
<script>
    new Vue({
        el: '#apibox',
        data: {
            data: null,
            error: null
        },
        mounted() {
            // 在组件加载时触发数据获取
            this.fetchData(null);
        },
        methods: {
            fetchData(name) {
                var urlParams = new URLSearchParams(window.location.search);
                var idFromUrl = urlParams.get('InterfaceCategoryId');
                var url = url = '/PrivateReZeroRoute/100003/GetInternalInterfaceList?IsInitialized=0';
                if (idFromUrl != null) {
                    url += '&InterfaceCategoryId=' + idFromUrl;
                }
                if (name != null) {
                    url += '&Name=' + name;
                }
                axios.get(url)
                    .then(response => {
                        this.data = response.data;
                        this.error = null;
                    })
                    .catch(error => {
                        this.error = error.message;
                        this.data = null;
                    });
            },
            tryItOut(item) {
                window.open('/rezero/TryApi.html?id=' + item.Id, '_blank');
            },
            onSearch: function () {
                this.fetchData($("#txtSearch").val());
            },
            toggleEndpoint(event) {
                $(event.currentTarget).parent().find(".parameter-title,.parameter").toggle(100);
                var textEle = $(event.currentTarget).find(".openapi");
                var text = textEle.text();
                if (text == "+") {
                    textEle.text("-");
                    textEle.addClass("reduction");
                }
                else {
                    textEle.text("+");
                    textEle.removeClass("reduction");
                }
            },
        }
    });
</script>
