@@master_page.html
<link href="css/page_table_list.css" rel="stylesheet" />
<div id="apibox" class="card">

    <div class="card">
        <div class="card-header"> </div>
        <div class="card">
            <form id="frmSearach" onsubmit="return false;">
                <div class="row ">
                    <div class="form-group">
                        <div class="col-md-1"><label class="form-control m-l-15">数据库:</label></div>
                        <div class="col-md-11">
                            <div class="input-group">
                                <select id="selDataBaseId" class="form-control" style="width:150px;">
                                    <option v-for="item in  database" v-bind:value="item.Id"> {{item.Name}} </option>
                                </select>
                                <input id="txtSearch" type="text" style="width:150px;margin-left:20px; margin-right:10px" class="form-control" value="" name="keyword" placeholder="请输入名称">
                                <a class="btn btn-secondary    m-r-5" data-toggle="tooltip" @click="onSearch()" href="#!"><i class="mdi mdi-magnify"></i> 搜索</a>
                                <button onclick="frmSearach.reset()" type="submit" class="btn btn-close">清空</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card-toolbar clearfix">

                <div class="toolbar-btn-action">
                    <a @click="openAddDiv()" data-toggle="modal" data-target="#gridSystemModal" class="btn btn-primary m-r-5" href="#!"><i class="mdi mdi-plus"></i> 新增</a>
                    <a class="btn btn-success m-r-5" @click="openImportEntity()" data-toggle="tooltip" data-original-title="从数据库导入实体" href="#!"><i class="mdi mdi-format-vertical-align-bottom"></i>导入</a>
                    <a class="btn btn-warning m-r-5" @click="openCompareDatabaseStructure()" data-toggle="tooltip" data-original-title="根据实体修改表结构" href="#!"><i class="mdi mdi-redo-variant"></i>同步</a>
                </div>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr v-if="data && data.Columns && data.Columns.length > 0">
                                    <th class="width30">
                                        <label class="lyear-checkbox checkbox-primary">
                                            <input type="checkbox" @change="selectAll" id="check-all"><span></span>
                                        </label>
                                    </th>
                                    <template v-for="column in data.Columns" v-if="column.PropertyName !== 'Id'">
                                        <th>
                                            {{ column.ColumnDescription }}
                                        </th>
                                    </template>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody v-if="data &&data.Data">
                                <tr v-if="data.Columns && data.Columns.length > 0" v-for="item in data.Data">
                                    <td>
                                        <label class="lyear-checkbox checkbox-primary">
                                            <input type="checkbox" name="ids[]" v-model="selectedItems" :alt="item.Id" :value="item.Id"><span></span>
                                        </label>
                                    </td>
                                    <template v-for="column in data.Columns" v-if="column.PropertyName !== 'Id'">
                                        <td>
                                            {{ item[column.PropertyName] }}
                                        </td>
                                    </template>
                                    <td class="table_opt2">
                                        <button data-toggle="modal" @click="openColumns(item)" class="btn btn-link" type="button">
                                            <i class="mdi mdi-lead-pencil"></i> 配列
                                        </button>
                                        <button data-toggle="modal" @click="openEditDiv(item)" data-target="#gridSystemModal" class="btn btn-link" type="button">
                                            <i class="mdi mdi-lead-pencil"></i> 修改
                                        </button>
                                        <button data-toggle="modal" @click="deleteAndConfirm(item)" data-target="#divDelBox" class="btn btn-link" type="button">
                                            <i class="mdi mdi-do-not-disturb"></i> 删除
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                @@page_control.html
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="gridSystemModal" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">{{title}}</h4>
                </div>
                <div class="modal-body">
                    <form id="frmEdit">
                        <input type="hidden" v-model="formData.Id" name="Id" />
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">实体名：</label>
                            <input type="text" v-model="formData.ClassName" name="ClassName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">表名：</label>
                            <input type="text" v-model="formData.DbTableName" name="DbTableName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">数据库：</label>
                            <select v-model="formData.DataBaseId" name="DataBaseId" class="form-control">
                                <option v-for="item in  database" v-bind:value="item.Id"> {{item.Name}} </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">备注：</label>
                            <textarea class="form-control" v-model="formData.Description" name="Description" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCloseEdit" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" @click="addOrUpdate()" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
    <button id="btnCompareDatabaseStructure" type="button" class="btn btn-primary hidden" data-toggle="modal" data-target="#divCompareDatabaseStructure"></button>
    <div id="divCompareDatabaseStructure" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">同步表结构</h4>
                </div>
                <div class="modal-body">
                    您的内容...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">点击保存</button>
                </div>
            </div>
        </div>
    </div>
    <button id="btnEditColumns" type="button" class="btn btn-primary hidden" data-toggle="modal" data-target="#divEditColumns"></button>
    <div id="divEditColumns" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">{{editTable}} </h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>实体属性</th>
                                <th>列名</th>
                                <th>C#类型</th>
                                <th>数据库类型</th>
                                <th>备注</th>
                                <th>必填</th>
                                <th>主键</th>
                                <th>自增</th>
                                <th class="width100"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in columns">
                                <td scope="row"><input class="form-control" placeholder="必填" type="text" /></td>
                                <td><input class="form-control" placeholder="可空:默认取属性名" type="text" /></td>
                                <td class="width100">
                                    <select class="form-control">
                                        <option v-for="item in  nativeTypes" v-bind:value="item.Id"> {{item.Name}} </option>
                                    </select>
                                </td>
                                <td><input class="form-control" placeholder="可空:默认C#类型自动匹配" type="text" /></td>
                                <td><input class="form-control" placeholder="" type="text" /></td>
                                <td><input type="checkbox" class="form-control" /></td>
                                <td><input type="checkbox" class="form-control" /></td>
                                <td><input type="checkbox" class="form-control" /></td>
                                <td><span @click="pushColumns()" class="pointer"><i class="mdi mdi-plus"></i>添加</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">点击保存</button>
                </div>
            </div>
        </div>
    </div>
    <button id="btnImportEntity" type="button" class="btn btn-primary hidden" data-toggle="modal" data-target="#divImportEntity"></button>
    <div id="divImportEntity" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">导入实体</h4>
                </div>
                <div class="modal-body">
                    您的内容ddddddd...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">点击保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var vueObj = new Vue({
        el: '#apibox',
        data: {
            data: null,
            error: null,
            addTitle: "添加实体",
            editTitle: "修改实体",
            title: "",
            editTable: "",
            formData: {},
            database: [],
            nativeTypes: [],
            selectedItems: [],
            columns: [{}],
        },
        mounted() {
            this.fetchData("");
            this.bindDatabaseSelect();
            this.bindNativeTypeSelect();
        },
        methods: {
            fetchData(append) {
                var url = "/PrivateReZeroRoute/100003/GetEntityInoList?random=1" + append;
                axios.get(url)
                    .then(response => {
                        this.data = response.data;
                        this.error = null;
                    })
                    .catch(error => {
                        this.error = error.message;
                        this.data = null;
                    });
            },
            onSearch: function (page) {

                var urlParameters = "&" + tools.objectToQueryString({
                    ClassName: txtSearch.value,
                    PageNumber: page,
                    DataBaseId: selDataBaseId.value
                });
                this.fetchData(urlParameters);
            },
            deleteAndConfirm: function (item) {
                if (item == null) {
                    var url = "/PrivateReZeroRoute/100003/DeleteEntityInfo?IsDeleted=true&Id=" + localStorage.delId;
                    axios.get(url)
                        .then(response => {
                            if (response.data.message) {
                                tools.alert(response.data.message);
                            }
                            this.error = null;
                            this.onSearch();
                            btnDelClose.click();
                        })
                        .catch(error => {
                            this.error = error.message;
                            this.data = null;
                        });
                } else {
                    localStorage.delId = item.Id;
                }
            },
            openEditDiv: function (item) {
                var urlById = "/PrivateReZeroRoute/100003/GetEntityInfoById?id=" + item.Id;
                if (item.Id) {
                    this.title = this.editTitle;
                    axios.get(urlById)
                        .then(response => {
                            this.formData = response.data;
                        })
                        .catch(error => {
                            this.error = error.message;
                            this.data = null;
                        });
                }
            },
            openAddDiv: function (item) {
                this.title = this.addTitle;
                var id = this.formData.DataBaseId;
                this.formData = { DataBaseId: id };
            },
            addOrUpdate: function () {
                var th = this;
                var frmId = "frmEdit";
                var json = this.formData;
                var url = json.Id ?
                    "/PrivateReZeroRoute/100003/UpdateEntityInfo" :
                    "/PrivateReZeroRoute/100003/AddEntityInfo";
                this.addOrUpdateSubmit(url, json);
            },
            addOrUpdateSubmit: function (url, json) {
                var th = this;
                axios.post(url, json)
                    .then(response => {
                        this.error = null;
                        this.onSearch();
                        if (response.data == true) {
                            frmEdit.reset();
                            btnCloseEdit.click();
                        }
                        else {
                            tools.highlightErrorFields(response.data)
                        }
                    })
                    .catch(error => {
                        this.error = error.message;
                        this.data = null;
                    });
            },
            bindDatabaseSelect: function () {
                axios.get("/PrivateReZeroRoute/100004/GetDatabaseInfoAllList")
                    .then(response => {
                        this.database = response.data;
                    })
                    .catch(error => {
                        this.error = error.message;
                        this.data = null;
                    });
            },
            bindNativeTypeSelect: function () {
                axios.get("/PrivateReZeroRoute/100004/GetNativeTypeList")
                    .then(response => {
                        this.nativeTypes = response.data;
                    })
                    .catch(error => {
                        this.error = error.message;
                        this.data = null;
                    });
            },
            openColumns: function (item) {
                btnEditColumns.click();
                this.editTable = "库:" + item.DataBaseName + " 表:" + item.ClassName;
            },
            pushColumns: function () {
                this.columns.push({});
            },
            openCompareDatabaseStructure: function () {
                btnCompareDatabaseStructure.click();
            },
            openImportEntity: function () {
                btnImportEntity.click();
            },
            selectAll(event) {
                if (event.target.checked) {
                    // 全选
                    this.selectedItems = this.data.Data.map(item => item.Id);
                } else {
                    // 全不选
                    this.selectedItems = [];
                }
            },
        }
    });
</script>