@@master_page.html
<link href="css/page_interface.css" rel="stylesheet" />
<div id="apibox">
    <div class="form-group row">
        <div class="row show-grid">
            <div class="col-md-2"> </div>
            <div class="col-md-2">
                <input class="form-control" type="text" id="example-text-input" name="example-text-input" placeholder="文本..">
            </div>
            <div class="col-md-2">
                <select class="form-control">
                    <option value="0">==项目==</option>
                    <option value="1">选项 #1</option>
                    <option value="2">选项 #2</option>
                    <option value="3">选项 #3</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control">
                    <option value="0">==分类==</option>
                    <option value="1">选项 #1</option>
                    <option value="2">选项 #2</option>
                    <option value="3">选项 #3</option>
                </select>
            </div>
            <div class="col-md-4"> <button class="btn btn-success" type="submit">搜索</button></div>
        </div>
    </div>
    <section v-for="item in data" :key="item.Id">
        <h2>{{ item.Name }} </h2>
        <div class="endpoint">
            <p>
                <span class="method">{{ item.HttpMethod }}</span>
                <span class="url"> {{item.Url}}</span>
            </p>
            <p>{{ item.Description }}</p>
            <div class="parameter-title">
                Parameters:
                <div class="try-out">
                    <button class="btn try-out__btn" @click="tryItOut(item)" >Try it out </button>
                </div>
            </div>
            <div class="parameter" v-if="item.DataModel.WhereParameters && item.DataModel.WhereParameters.length > 0">
                <ul>
                    <li v-for="param in item.DataModel.WhereParameters" :key="param.Name">
                        <code>{{ param.ValueIsReadOnly ?   'Readonly:':''}}{{ param.Name }}</code> ({{ param.ValueType }}) - {{param.Type}} {{ param.Description }}  {{ param.Value  ?  ' ['+param.Name +' = ' + param.Value+']' : ''}}
                    </li>
                </ul>
            </div>
        </div>

    </section>
</div>
<script>
    new Vue({
        el: '#apibox',
        data: {
            data: null,
            error: null
        },
        mounted() {
            // 在组件加载时触发数据获取
            this.fetchData();
        },
        methods: {
            fetchData() {
                axios.get('/PrivateReZeroRoute/100002/GetInternalInterfaceList')
                    .then(response => {
                        this.data = response.data;
                        this.error = null;
                    })
                    .catch(error => {
                        this.error = error.message;
                        this.data = null;
                    });
            },
            tryItOut(item) {
                window.open('/rezero/TryApi.html?id='+item.Id, '_blank');
            }
        }
    });
</script>
