@@master_page.html
<link href="css/page_table_list.css" rel="stylesheet" />
<div id="apibox" class="card">
    <div class="search-bar">

        <form action="lyear_forms_elements.html" method="post" onsubmit="return false;">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1"><label class="form-control" t>名称:</label></div>
                    <div class="col-md-3"><input class="form-control" type="text" id="txtSearch" name="example-text-input" placeholder="分类名称"></div>
                    <div class="col-md-2">
                        <button @click="onSearch()" class="btn btn-warning btn-w-md"><i class="mdi mdi-magnify"></i>搜索</button>
                        <button onclick="$('#txtSearch').val('')" id="btnSearch" class="btn btn-close" type="submit">清空</button>
                    </div>
                    <div class="col-md-1">
                        <button @click="openAddDiv()" class="btn btn-w-xs btn-primary" data-toggle="modal" data-target="#gridSystemModal"><i class="mdi mdi-plus-circle-outline"></i> 添加</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </form>

    </div>
    <div class="card-body">

        <h5> </h5>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr v-if="data && data.Columns && data.Columns.length > 0">
                        <th v-for="column in data.Columns">{{column.ColumnDescription}}</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody v-if="data &&data.Data">
                    <tr v-if="data.Columns && data.Columns.length > 0" v-for="item in data.Data">

                        <td v-for="column in data.Columns">
                            {{ item[column.PropertyName] }}
                        </td>

                        <td class="table_opt">
                            <button data-toggle="modal" @click="openEditDiv(item)" data-target="#gridSystemModal" class="btn btn-cyan btn-w-md" type="button">
                                <i class="mdi mdi-lead-pencil"></i> 修改
                            </button>
                            <button data-toggle="modal" @click="deleteAndConfirm(item)" data-target=".bs-example-modal-sm" class="btn btn-danger btn-w-md" type="button">
                                <i class="mdi mdi-do-not-disturb"></i> 删除
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
    <nav>
        <ul class="pagination no-border" v-if="data && data.Page">
            <li v-for="page in Array.from({ length: data.Page.TotalPage }, (_, index) => index + 1)" :key="page">
                <a href="#" @click="onSearch(page)">{{ page }}</a>
            </li>
            <li><a>当前：{{data.Page.PageNumber}}/{{data.Page.TotalPage}}&nbsp;&nbsp; 总共：{{data.Page.TotalCount}}</a> </li>
        </ul>
    </nav>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="gridSystemModal" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">添加动态接口分类</h4>
                </div>
                <div class="modal-body">
                    <form id="frmEdit">
                        <input type="hidden"  v-model="formData.Id"  name="Id" />
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">名称：</label>
                            <input type="text" v-model="formData.Name" name="Name" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">内容：</label>
                            <textarea class="form-control" v-model="formData.Description" name="Description" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCloseEdit" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" @click="addOrUpdate()" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var vueObj = new Vue({
        el: '#apibox',
        data: {
            data: null,
            error: null,
            formData: {
               
            }
        },
        mounted() {
            this.fetchData("");
        },
        methods: {
            fetchData(append) {
                var url = "/PrivateReZeroRoute/100003/GetDynamicInterfaceCategoryList?ParentId=200" + append;
                axios.get(url)
                    .then(response => {
                        this.data = response.data;
                        this.error = null;
                    })
                    .catch(error => {
                        this.error = error.message;
                        this.data = null;
                    });
            },
            onSearch: function (page) {

                var urlParameters = "&Name=" + $("#txtSearch").val();
                if (page)
                {
                    urlParameters += "&PageNumber=" + page;
                }
                this.fetchData(urlParameters);
            },
            deleteAndConfirm: function (item) {
                if (item == null) {
                    var url = "/PrivateReZeroRoute/100003/DeleteDynamicInterfaceCategoryList?IsDeleted=true&Id=" + localStorage.delId;
                    axios.get(url)
                        .then(response => {
                            this.data = response.data;
                            this.error = null;
                            this.onSearch();
                            btnDelClose.click();
                        })
                        .catch(error => {
                            this.error = error.message;
                            this.data = null;
                        });
                } else {
                    localStorage.delId = item.Id;
                }
            },
            openEditDiv: function (item)
            {
                var urlById = "/PrivateReZeroRoute/100003/GetDynamicInterfaceCategoryById?id="+item.Id;
                if (item.Id) {
                    axios.get(urlById)
                        .then(response => {
                            this.formData= response.data;
                        })
                        .catch(error => {
                            this.error = error.message;
                            this.data = null;
                        });
                }
            },
            openAddDiv: function (item)
            {
                this.formData = {};
            },
            addOrUpdate: function () { 
                var th = this;
                var frmId = "frmEdit";
                var json = this.formData;
                var url = json.Id ?
                    "/PrivateReZeroRoute/100003/UpdateDynamicInterfaceCategory" :
                    "/PrivateReZeroRoute/100003/AddDynamicInterfaceCategory";
                var urlById = "/PrivateReZeroRoute/100003/GetDynamicInterfaceCategoryById";
                this.addOrUpdateSubmit(url, json);
            },
            addOrUpdateSubmit: function (url, json) { 
                var th = this;
                axios.post(url, json)
                    .then(response => {
                        this.data = response.data;
                        this.error = null;
                        this.onSearch(); 
                        frmEdit.reset(); 
                        btnCloseEdit.click();  
                    })
                    .catch(error => {
                        this.error = error.message;
                        this.data = null;
                    });
            } 
        }
    });</script>