@@master_page.html
<link href="css/page_table_list.css" rel="stylesheet" />
<link href="css/page_interface_manager.css" rel="stylesheet" />
<div id="apibox" class="card">
    <div class="search-bar">

        <form id="frmSearach" action="lyear_forms_elements.html" method="post" onsubmit="return false;">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1"><label class="form-control">名称:</label></div>
                    <div class="col-md-2"><input class="form-control" type="text" id="txtName" name="example-text-input" placeholder="接口名 或者 URL"></div>
                    <div class="col-md-1"><label class="form-control">分组:</label></div>
                    <div class="col-md-2"><select id="selGroupName" class="form-control"><option></option> <option v-for="item in groupList">{{item.GroupName}}</option></select></div>
                    <div class="col-md-1"><label class="form-control">分类:</label></div>
                    <div class="col-md-2"><select id="selInterfaceCategoryId" class="form-control"><option></option> <option v-for="item in interfaceCategroyList" :value="item.Id">{{item.Name}}</option></select></div>
                    <div class="col-md-2">
                        <button @click="onSearch()" class="btn btn-secondary"><i class="mdi mdi-magnify"></i>搜索</button>
                        <button onclick="frmSearach.reset()" id="btnSearch" class="btn btn-close m-l-15" type="submit">清空</button>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </form>

    </div>
    <div class="card-toolbar clearfix">
        <div class="toolbar-btn-action">
            <a class="btn btn-primary m-r-5" @click="openNext()" href="#!"><i class="mdi mdi-plus"></i> 新增</a>
            <a class="btn btn-success m-r-5" @click="enable()" href="#!"><i class="mdi mdi-check"></i> 启用</a>
            <a class="btn btn-warning m-r-5" @click="disable()" href="#!"><i class="mdi mdi-block-helper"></i> 禁用</a>
        </div>
    </div>
    <div class="card-body">

        <h5> </h5>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr v-if="data && data.Columns && data.Columns.length > 0">
                        <th class="width30">
                            <label class="lyear-checkbox checkbox-primary">
                                <input type="checkbox" @change="selectAll" id="check-all"><span></span>
                            </label>
                        </th>
                        <th v-for="column in data.Columns">{{column.ColumnDescription}}</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody v-if="data &&data.Data">
                    <tr v-if="data.Columns && data.Columns.length > 0" v-for="item in data.Data">
                        <td>
                            <label class="lyear-checkbox checkbox-primary">
                                <input type="checkbox" name="ids[]" v-model="selectedItems" :alt="item.Id" :value="item.Id"><span></span>
                            </label>
                        </td>
                        <td v-for="column in data.Columns">
                            {{ item[column.PropertyName] }}
                        </td>

                        <td class="table_opt">
                            <button data-toggle="modal" @click="openEdit(item)" class="btn btn-link" type="button">
                                <i class="mdi mdi-lead-pencil"></i> 修改
                            </button>
                            <button data-toggle="modal" @click="deleteAndConfirm(item)" data-target="#divDelBox" class="btn btn-link" type="button">
                                <i class="mdi mdi-do-not-disturb"></i> 删除
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
    @@page_control.html
    <!--保存前选分类-->
    <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="divBefore" style="display: none;">
        <button id="btnNext" type="button" class="btn btn-primary hidden" data-toggle="modal" data-target="#divBefore"></button>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">接口类型</h4>
                </div>
                <div class="modal-body">
                    <form id="frmEdit">
                        <input type="hidden" v-model="formData.Id" name="Id" />
                        <div class="form-group">
                            <select v-model="currentActionType" id="selTextGroup" class="form-control">
                                <option v-for="item in actionList" :value="item">{{item.TextGroup}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnNextClose" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" @click="openAdd()" class="btn btn-primary">下一步</button>
                </div>
            </div>
        </div>
    </div>
    <!--保存接口-->
    <div id="divSave" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
        <button id="btnSave" type="button" class="btn btn-primary hidden" data-toggle="modal" data-target="#divSave"></button>
        <div class="modal-dialog modal-lg  width1200" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">{{title}} </h4>
                </div>

                <div class="modal-body">
                    <div class="table-container">
                        <div class="card">
                            <ul class="nav nav-tabs page-tabs">
                                <li v-for="(item,index) in currentActionType.Items" @click="tabClick(index,item)" :class="index==tabIndex?'active':''"> <a href="#!">{{item.Text}}</a> </li>
                            </ul>
                            <div class="tab-content tabbox">
                                <div class="tab-pane active">

                                    <form action="#!" method="post" name="edit-form" class="edit-form">
                                        <div v-for="item in currentActionTypeContext.FormElements" class="form-group col-md-12">
                                            <label for="type">{{item.Text}}<span class="red" v-if="item.IsRequired">*</span></label>
                                            <div class="form-controls">
                                                <template v-if="item.ElementType==0">
                                                    <!--text-->
                                                    <input :name="item.Name" class="form-control" />
                                                </template>
                                                <template v-if="item.ElementType==1">
                                                    <!--table-->
                                                    <div class="input-group">
                                                        <input :name="item.Name" type="text" readonly="readonly" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button @click="openImportEntity(item)" class="btn btn-default" type="button">选择表</button>
                                                        </span>
                                                    </div>
                                                </template>
                                                <template v-if="item.ElementType==2">
                                                    <!--group-->
                                                    <input class="form-control" />
                                                </template>
                                                <template v-if="item.ElementType==3">
                                                    <!--Columns-->
                                                    <input class="form-control" />
                                                </template>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" @click="addOrUpdateColumnInfoSubmit()" class="btn btn-primary">点击保存</button>
                </div>
            </div>
        </div>
    </div>
    <!--选择表-->
    <div id="divImportEntity" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
        <button id="btnImportEntity" type="button" class="btn btn-primary hidden" data-toggle="modal" data-target="#divImportEntity"></button>
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">选择表</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group width250  m-b-10">
                        <input id="txtTableName" type="text" class="form-control"> <span class="input-group-btn">
                            <button type="button" @click="bindImportTables()" class="btn btn-default"><i class="mdi mdi-magnify"></i>搜索</button>
                            <button type="button" onclick="txtTableName.value=''" class="btn btn-default"><i class="mdi  mdi-refresh"></i>清空</button>
                        </span>
                    </div>
                    <div class="table-container2">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="width30">
                                        <label class="lyear-checkbox checkbox-primary">
                                            <input type="checkbox" @change="selectAll2" id="check-all2"><span></span>
                                        </label>
                                    </th>
                                    <th>
                                        表名
                                    </th>
                                    <th>描述</th>
                                </tr>
                            </thead>
                            <tbody v-if="tables">
                                <tr v-for="item in tables">
                                    <td>
                                        <input type="checkbox" name="ids[]" v-model="selectedTables" :alt="item.Name" :value="item.Name">
                                    </td>
                                    <td>
                                        {{ item.Name }}
                                    </td>
                                    <td>
                                        {{ item.Description  }}
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnImportEntityClose" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" @click="importEntitySubmit()" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var vueObj = new Vue({
        el: '#apibox',
        data: {
            data: null,
            error: null,
            addTitle: "添加接口",
            editTitle: "修改接口",
            title: "",
            tabIndex: 0,
            formData: {},
            selectedItems: [],
            groupList: [],
            interfaceCategroyList: [],
            actionList: [],
            currentActionType: [],
            currentActionTypeContext: [],
            tables: [],
            selectedTables:[]
        },
        mounted() {
            this.fetchData("");
            this.bindGroupListSelect();
            this.bindInterfaceCategroySelect();
            this.bindActionLists();
        },
        methods: {
            fetchData(append) {
                var url = "/PrivateReZeroRoute/100003/GetDynamicInterfacePageList" + append;
                axios.get(url)
                    .then(response => {
                        this.data = response.data;
                        this.error = null;
                    })
                    .catch(error => {
                        this.error = error.message;
                        this.data = null;
                    });
            },
            onSearch: function (page) {

                var urlParameters = "?" + tools.objectToQueryString({
                    PageNumber: page,
                    Name: txtName.value,
                    GroupName: selGroupName.value,
                    InterfaceCategoryId: selInterfaceCategoryId.value,
                });
                this.fetchData(urlParameters);
            },
            enable: function () {
                alert("开发中");
            },
            disable: function () {
                alert("开发中");
            },
            selectAll(event) {
                if (event.target.checked) {
                    // 全选
                    this.selectedItems = this.data.Data.map(item => item.Id);
                } else {
                    // 全不选
                    this.selectedItems = [];
                }
            },
            openNext: function () {
                this.title = this.addTitle;
                btnNext.click();
            },
            openAdd: function (item) {
                if (this.currentActionType.length == 0) {
                    tools.alert("请选择类型");
                    return;
                }
                btnNextClose.click();
                btnSave.click();
                this.currentActionTypeContext = this.currentActionType.Items[0];
            },
            openEdit: function () {
                alert("开发中");
            },
            addOrUpdateColumnInfoSubmit: function () {
                alert("开发中");
            },
            deleteAndConfirm: function (item) {
                if (item == null) {
                    var url = "/PrivateReZeroRoute/100003/DeleteDynamicInterface?IsDeleted=true&Id=" + localStorage.delId;
                    axios.get(url)
                        .then(response => {
                            this.data = response.data;
                            this.error = null;
                            this.onSearch();
                            btnDelClose.click();
                        })
                        .catch(error => {
                            this.error = error.message;
                            this.data = null;
                        });
                } else {
                    localStorage.delId = item.Id;
                }
            },
            bindGroupListSelect: function () {
                axios.get("/PrivateReZeroRoute/100004/GetDynamicGroupNameList")
                    .then(response => {
                        this.groupList = response.data;
                    })
                    .catch(error => {
                        this.error = error.message;
                        this.data = null;
                    });
            },
            bindInterfaceCategroySelect: function () {
                axios.get("/PrivateReZeroRoute/100004/GetDynamicInterfaceCategoryList")
                    .then(response => {
                        this.interfaceCategroyList = response.data;
                    })
                    .catch(error => {
                        this.error = error.message;
                        this.data = null;
                    });
            },
            bindActionLists: function () {
                axios.get("/PrivateReZeroRoute/100004/GetActionType")
                    .then(response => {
                        this.actionList = response.data;
                    })
                    .catch(error => {
                        this.error = error.message;
                    });
            },
            tabClick: function (index) {
                this.tabIndex = index;
                this.currentActionTypeContext = this.currentActionType.Items[index];
            },
            openImportEntity: function () {
                btnImportEntity.click();
                this.bindImportTables();
            },
            importEntitySubmit: function () {
                var url = " /PrivateReZeroRoute/100003/ImportEntities";
                axios.post(url, { databasdeId: this.databaseId, tableNames: this.selectedTables })
                    .then(response => {
                        this.error = null;
                        if (response.data == true) {
                            btnImportEntityClose.click();
                            this.onSearch(1);
                            tools.alert("导入成功，删除实体可以重新导入。");
                        }
                        else {
                            tools.alert(response.data.message);
                        }
                    })
                    .catch(error => {
                        this.error = error.message;
                    });
            },
            bindImportTables: function () {
                var url = "/PrivateReZeroRoute/100004/GetAllTables?databaseId=" + this.databaseId + "&tableName=" + txtTableName.value;
                axios.get(url)
                    .then(response => {
                        this.tables = response.data;
                        this.error = null;
                    })
                    .catch(error => {
                        this.error = error.message;
                    });
            },
            selectAll2(event) {
                if (event.target.checked) {
                    // 全选
                    this.selectedTables = this.tables.map(item => item.Name);
                } else {
                    // 全不选
                    this.selectedTables = [];
                }
            },
        }
    });</script>