@@master_page.html
<link href="css/page_table_list.css" rel="stylesheet" />
<link href="css/page_interface_manager.css" rel="stylesheet" />
<div id="apibox" class="card">
    <div class="search-bar">

        <form id="frmSearach" action="lyear_forms_elements.html" method="post" onsubmit="return false;">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1"><label class="form-control">名称:</label></div>
                    <div class="col-md-2"><input class="form-control" type="text" id="txtName" name="example-text-input" placeholder="接口名 或者 URL"></div>
                    <div class="col-md-1"><label class="form-control">分组:</label></div>
                    <div class="col-md-2"><select id="selGroupName" class="form-control"><option></option> <option v-for="item in groupList">{{item.GroupName}}</option></select></div>
                    <div class="col-md-1"><label class="form-control">分类:</label></div>
                    <div class="col-md-2"><select id="selInterfaceCategoryId" class="form-control"><option></option> <option v-for="item in interfaceCategroyList" :value="item.Id">{{item.Name}}</option></select></div>
                    <div class="col-md-2">
                        <button @click="onSearch()" class="btn btn-secondary"><i class="mdi mdi-magnify"></i>搜索</button>
                        <button onclick="frmSearach.reset()" id="btnSearch" class="btn btn-close m-l-15" type="submit">清空</button>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </form>

    </div>
    <div class="card-toolbar clearfix">
        <div class="toolbar-btn-action">
            <a class="btn btn-primary m-r-5" @click="openEditBefore()" href="#!"><i class="mdi mdi-plus"></i> 新增</a>
            <!--<a class="btn btn-success m-r-5" href="#!"><i class="mdi mdi-check"></i> 启用</a>
            <a class="btn btn-warning m-r-5" href="#!"><i class="mdi mdi-block-helper"></i> 禁用</a>-->
        </div>
    </div>
    <div class="card-body">

        <h5> </h5>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr v-if="data && data.Columns && data.Columns.length > 0">
                        <th v-for="column in data.Columns">{{column.ColumnDescription}}</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody v-if="data &&data.Data">
                    <tr v-if="data.Columns && data.Columns.length > 0" v-for="item in data.Data">

                        <td v-for="column in data.Columns">
                            {{ item[column.PropertyName] }}
                        </td>

                        <td class="table_opt">
                            <button data-toggle="modal" @click="openEdit(item)" class="btn btn-link" type="button">
                                <i class="mdi mdi-lead-pencil"></i> 修改
                            </button>
                            <button data-toggle="modal" @click="deleteAndConfirm(item)" data-target="#divDelBox" class="btn btn-link" type="button">
                                <i class="mdi mdi-do-not-disturb"></i> 删除
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
    @@page_control.html
    <!--保存前选分类-->
    <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="divBefore" style="display: none;">
        <button id="btnBefore" type="button" class="btn btn-primary hidden" data-toggle="modal" data-target="#divBefore"></button>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">接口类型</h4>
                </div>
                <div class="modal-body">
                    <form id="frmEdit">
                        <input type="hidden" v-model="formData.Id" name="Id" />
                        <div class="form-group">
                            <select v-model="currentGroup" id="selTextGroup" class="form-control">
                                <option v-for="item in actionList" :value="item">{{item.TextGroup}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnBeforeClose" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" @click="openEdit()" class="btn btn-primary">下一步</button>
                </div>
            </div>
        </div>
    </div>
    <!--保存接口-->
    <div id="divSave" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
        <button id="btnSave" type="button" class="btn btn-primary hidden" data-toggle="modal" data-target="#divSave"></button>
        <div class="modal-dialog modal-lg  width1200" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">{{title}} </h4>
                </div>

                <div class="modal-body">
                    <div class="table-container">
                        <div class="card">
                            <ul class="nav nav-tabs page-tabs">
                                <li v-for="(item,index) in currentGroup.Items" @click="tabClick(index,item)" :class="index==tabIndex?'active':''"> <a href="#!">{{item.Text}}</a> </li>
                            </ul>
                            <div class="tab-content tabbox">
                                <div class="tab-pane active">

                                    <form action="#!" method="post" name="edit-form" class="edit-form">

                                        <div class="form-group col-md-12">
                                            <label for="type">菜单分类</label>
                                            <div class="form-controls">
                                                <select name="type" class="form-control" id="type">
                                                    <option v-for="item in interfaceCategroyList" :value="item.Id">{{item.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="title">接口名</label>
                                            <input type="text" class="form-control" id="title" name="title" value="" placeholder=" ">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="seo_keywords">分组单词</label>
                                            <input type="text" class="form-control" id="seo_keywords" name="seo_keywords" value="" placeholder=" ">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="seo_description">表名</label>
                                            <input type="text" class="form-control" id="seo_keywords" name="seo_keywords" value="" placeholder=" ">
                                        </div> 
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" @click="addOrUpdateColumnInfoSubmit()" class="btn btn-primary">点击保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var vueObj = new Vue({
        el: '#apibox',
        data: {
            data: null,
            error: null,
            addTitle: "添加接口",
            editTitle: "修改接口",
            title: "",
            tabIndex: 0,
            formData: {},
            groupList: [],
            interfaceCategroyList: [],
            actionList: [],
            currentGroup: []
        },
        mounted() {
            this.fetchData("");
            this.bindGroupListSelect();
            this.bindInterfaceCategroySelect();
            this.bindActionLists();
        },
        methods: {
            fetchData(append) {
                var url = "/PrivateReZeroRoute/100003/GetDynamicInterfacePageList" + append;
                axios.get(url)
                    .then(response => {
                        this.data = response.data;
                        this.error = null;
                    })
                    .catch(error => {
                        this.error = error.message;
                        this.data = null;
                    });
            },
            onSearch: function (page) {

                var urlParameters = "?" + tools.objectToQueryString({
                    PageNumber: page,
                    Name: txtName.value,
                    GroupName: selGroupName.value,
                    InterfaceCategoryId: selInterfaceCategoryId.value,
                });
                this.fetchData(urlParameters);
            },
            openAdd: function () {
                this.title = this.addTitle; 
                btnSave.click();
            },
            openEditBefore: function () {
                btnBefore.click();
            },
            openEdit: function (item) { 
                if (this.currentGroup.length==0)
                {
                    tools.alert("请选择类型");
                    return;
                }
                btnBeforeClose.click();
                btnSave.click();
                this.currentGroup.Items;
            },
            deleteAndConfirm: function (item) {
                if (item == null) {
                    var url = "/PrivateReZeroRoute/100003/DeleteDynamicInterface?IsDeleted=true&Id=" + localStorage.delId;
                    axios.get(url)
                        .then(response => {
                            this.data = response.data;
                            this.error = null;
                            this.onSearch();
                            btnDelClose.click();
                        })
                        .catch(error => {
                            this.error = error.message;
                            this.data = null;
                        });
                } else {
                    localStorage.delId = item.Id;
                }
            },
            bindGroupListSelect: function () {
                axios.get("/PrivateReZeroRoute/100004/GetDynamicGroupNameList")
                    .then(response => {
                        this.groupList = response.data;
                    })
                    .catch(error => {
                        this.error = error.message;
                        this.data = null;
                    });
            },
            bindInterfaceCategroySelect: function () {
                axios.get("/PrivateReZeroRoute/100004/GetDynamicInterfaceCategoryList")
                    .then(response => {
                        this.interfaceCategroyList = response.data;
                    })
                    .catch(error => {
                        this.error = error.message;
                        this.data = null;
                    });
            },
            bindActionLists: function () {
                axios.get("/PrivateReZeroRoute/100004/GetActionType")
                    .then(response => {
                        this.actionList = response.data;
                    })
                    .catch(error => {
                        this.error = error.message;
                    });
            },
            tabClick: function (index) {
                this.tabIndex = index;
            },
        }
    });</script>