 .border3CCC {
    border: 3px solid #ccc !important;
}
.pointer {
    cursor: pointer
}

.red {
    color: red;
    margin-left: 2px;
}
.width1200 {
    width: 1200px !important
}
.width1500 {
    width: 500px !important
}
.width200 {
    width: 200px !important
}

.width250 {
    width: 250px !important
}

.width100 {
    width: 100px !important
}

.width50 {
    width: 50px !important
}

.width30 {
    width: 30px !important
}