[data-theme="dark"] .mdi-palette {
    color:#fff
}
[data-theme='dark'] .endpointPost .method {
    background: #1a5336; /* 较暗的绿色背景 */
    color: #e0f2e9; /* 较亮的文字颜色，确保可读性 */
} 
[data-theme='dark'] .alert-success {
    background-color: #0a3d2a; /* 较暗的绿色背景 */
    border-color: #0a3d2a; /* 较暗的绿色边框 */
    color: #e0f2e9; /* 较亮的文字颜色，确保可读性 */
}
[data-theme="dark"] #apibox, [data-theme="dark"] #apibox .cad {
    background: #1c1e2f !important
}
[data-theme='dark'] .sidebar-header, [data-theme='dark'] .lyear-layout-sidebar-scroll, [data-theme='dark'] .lyear-layout-header, [data-theme='dark'] .card, [data-theme='dark'] .jconfirm .jconfirm-box {
    background: #1c1e2f !important
}  
[data-theme="dark"] #app {
    background: #1c1e2f !important;
    padding: 35px;
}
[data-theme="dark"] .btn {
    color: #d1d8e1; /* 暗色模式下的浅灰色文本 */
    padding: 8px 12px;
    letter-spacing: 1px;
    border-radius: 2px;
    background-color: #353537; /* 深色背景 */
    outline: none !important;
    -webkit-transition: 0.15s linear;
    transition: 0.15s linear;
    border-color: #353537 !important;
}


    [data-theme="dark"] .btn:hover,
    [data-theme="dark"] .btn:focus,
    [data-theme="dark"] .btn:active {
        color: #ffffff !important; /* 文本保持为白色 */
    }

    [data-theme="dark"] .btn:hover {
        background-color: #4a4d50 !important; /* 稍微浅一点的深色背景 */
        border-color: #4a4d50 !important; /* 稍微浅一点的边框颜色 */
    }

    [data-theme="dark"] .btn:active {
        background-color: #2e2f30 !important; /* 点击时的深色背景 */
        border-color: #2e2f30 !important; /* 点击时的边框颜色 */
    }

    [data-theme="dark"] .btn:focus {
        background-color: #4a4d50 !important; /* 获取焦点时的背景色 */
        border-color: #4a4d50 !important; /* 获取焦点时的边框颜色 */
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); /* 聚焦时的蓝色阴影 */
    }
[data-theme='dark'] .alert-warning {
    background-color: #ff7043; /* 暗色主题下使用的亮橙色背景 */
    border-color: #ff7043; /* 同样的边框颜色 */
    color: #ffffff; /* 白色文字 */
}
[data-theme="dark"] .table-bordered th {
    color: #fff; /* 白色文字 */
    background-color: #27223b; /* 深色背景 */
}
[data-theme="dark"] .parameter-title {
    background: #000 !important;
    border-top: #000 !important;
}
[data-theme="dark"] .table thead th {
    background-color: #1c1e2f !important;
}