.table-responsive th {
    text-align: center;
}

.table_opt {
    text-align: center;
    width: 250px;
}

    .table_opt button {
        max-width: 80px;
        margin: 0 10px;
    }

.table_opt2 {
    text-align: center;
    width: 330px;
}

    .table_opt2 button {
        max-width: 90px;
        margin: 0 5px;
    }
.table_opt3 {
    text-align: center;
    width: 450px;
}

    .table_opt3 button {
        max-width: 75px;
        margin: 0 5px;
    }

.form-group label {
    border: 0 !important;
    text-align: right
}

.search-bar {
    padding: 0 15px;
    padding-top: 35px;
}
.pagination {
    margin-left:20px;
    margin-top:-20px;
}
.width1200 {
    width: 1200px !important
}
.width100 {
    width: 100px !important
}
.width50 {
  width:50px !important
}
.width30 {
    width: 30px !important
}
.lyear-checkbox {
    padding-left: 10px;
}
.pointer {
    cursor: pointer
}

.table-container {
    height: 70vh; /* 将表格容器的高度设置为当前窗口高度的80% */
    max-height: 70vh; /* 设置表格容器的最大高度，防止内容过多时出现滚动条 */
    overflow-y: auto; /* 启用垂直滚动条 */
}

.table thead th {
    position: -webkit-sticky; /* 兼容性写法 */
    position: sticky;
    top: 0;
    background-color: #fff; /* 可以根据需要设置表头的背景色 */
    z-index: 2; /* 确保表头在上方 */
}
 