@@master_page.html
<link href="css/page_interface_detail.css" rel="stylesheet" />
<div id="app">
    <h1>{{data.Name}}</h1>
    <div class="url">
        Url: {{data.Url}}
    </div>
    <div class="parameter" v-if="data.DataModel.WhereParameters && data.DataModel.WhereParameters.length > 0">
        <div v-for="param in data.DataModel.WhereParameters" :key="param.Name">
            <label for="param1">{{param.Description}} [ {{ param.Name }}]:</label>

            
            <input v-model="param1" type="text" id="param1" placeholder="">
        
        </div>
    </div>

    <button v-on:click="submitRequest">提交</button>

    <label for="response">结果:</label>
    <textarea id="response" v-model="response" readonly></textarea>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            data: null,
            error: null
        },
        mounted() {
            // 在组件加载时触发数据获取
            this.fetchData();
        },
        methods: {
            submitRequest: function () {
                // 构造请求
                var fullUrl = this.url + "?param1=" + this.param1 + "&param2=" + this.param2;

                // 发送 POST 请求
                axios.post(fullUrl)
                    .then(function (response) {
                        // 更新响应
                        this.response = response.data;
                    }.bind(this))
                    .catch(function (error) {
                        // 处理错误
                        this.response = "网络错误";
                    }.bind(this));
            },
            fetchData: function () {
                var urlParams = new URLSearchParams(window.location.search);
                var idFromUrl = urlParams.get('id');
                // 发送 GET 请求
                axios.get('/PrivateReZeroRoute/0/GetInternalDetail?id=' + idFromUrl)
                    .then(function (response) {
                        this.data = response.data;
                        this.error = null;
                    }.bind(this))
                    .catch(function (error) {
                        // 处理错误
                        this.error = error.message;
                        this.data = null;
                    }.bind(this));
            }
        }
    });
</script>
